.MuiPaper-root {
  margin: 0 !important;
}

.MuiDialog-container {
  justify-content: flex-end !important;
}

.MuiDialog-container {
  align-items: stretch !important;
}

.MuiDialog-paper {
  min-height: 100vh !important;
  max-height: 100vh !important;
}
